[submodule "basic-games"]
	url = git@github.com:creationix/basic-games.git
	ref = refs/heads/master
	path = basic-games
[submodule "drawings"]
	url = git@github.com:creationix/drawings.git
	ref = refs/heads/master
	path = drawings
