[submodule "basic-games"]
	url = git@github.com:creationix/basic-games.git
	ref = refs/heads/master
	path = basic-games
[submodule "drawings"]
	url = git@github.com:creationix/drawings.git
	ref = refs/heads/master
	path = drawings
[submodule "3sharks.com"]
	url = git@github.com:creationix/3sharks.com.git
	ref = refs/heads/master
	path = 3sharks.com
[submodule "panoramas"]
	url = git@github.com:creationix/panoramas.git
	ref = refs/heads/master
	path = panoramas
